########## Rust
/Rust/target
/Rust/**/*.rs.bk

########## Python
# Byte-compiled / optimized / DLL files
/Python/__pycache__/
/Python/*.py[cod]
/Python/*$py.class

# C extensions
/Python/*.so

# Distribution / packaging
/Python/.Python
/Python/build/
/Python/develop-eggs/
/Python/dist/
/Python/downloads/
/Python/eggs/
/Python/.eggs/
/Python/lib/
/Python/lib64/
/Python/parts/
/Python/sdist/
/Python/var/
/Python/wheels/
/Python/*.egg-info/
/Python/.installed.cfg
/Python/*.egg
/Python/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
/Python/*.manifest
/Python/*.spec

# Installer logs
/Python/pip-log.txt
/Python/pip-delete-this-directory.txt

# Unit test / coverage reports
/Python/htmlcov/
/Python/.tox/
/Python/.coverage
/Python/.coverage.*
/Python/.cache
/Python/nosetests.xml
/Python/coverage.xml
/Python/*.cover
/Python/.hypothesis/
/Python/.pytest_cache/

# Translations
/Python/*.mo
/Python/*.pot

# Django stuff:
/Python/*.log
/Python/local_settings.py
/Python/db.sqlite3

# Flask stuff:
/Python/instance/
/Python/.webassets-cache

# Scrapy stuff:
/Python/.scrapy

# Sphinx documentation
/Python/docs/_build/

# PyBuilder
/Python/target/

# Jupyter Notebook
/Python/.ipynb_checkpoints

# pyenv
/Python/.python-version

# celery beat schedule file
/Python/celerybeat-schedule

# SageMath parsed files
/Python/*.sage.py

# Environments
/Python/.env
/Python/.venv
/Python/env/
/Python/venv/
/Python/ENV/
/Python/env.bak/
/Python/venv.bak/

# Spyder project settings
/Python/.spyderproject
/Python/.spyproject

# Rope project settings
/Python/.ropeproject

# mkdocs documentation
/Python/site

# mypy
/Python/.mypy_cache/
